.btn {
    background-color: #0e9a63;
    color: white;
    border: 1px solid #187150;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fa54ac;
    border: 1px solid #912d60;
    font-size: 40px;
}

#titreprincipal {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-family: Arial;
}

.container {
    width: 800px;
    margin: auto;
}